h1
{background-color: black;
    color: aqua ;
     padding: 50px;
     text-align: center;
border-color: aqua;}

h2

{background-color: aqua;
     padding: 30px;
     text-align: center;
     color:black;}

p

{background-color: black;
color:aqua;
padding: 20px;
text-align: center;}

main {
  padding: 15px
}

.places {
    padding: 20px
}
